@model Datos.EntradaModel
@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="~/Content/Template/bower_components/datatables/media/css/jquery.dataTables.min.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"><h4>Lista de Entradas</h4></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <a href="@Url.Action("Nuevo","Entradas")" class="btn btn-success" style="color:white">Agregar</a>
        </div>
        <form method="post" action="@Url.Action("Index","Entradas")">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <label>Productos</label>
                    <select class="form-control" name="producto" required>
                        <option> -- Productos -- </option>
                        @foreach (var item in Model._productos)
                        {
                            <option value="@item.ProductoID">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Proveedores</label>
                    <select class="form-control" name="proveedor" required>
                        <option> -- Proveedores -- </option>
                        @foreach (var item in Model._proveedores)
                        {
                            <option value="@item.ProveedorID">@item.Nombre</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Desde</label>
                    <input type="date" class="form-control" name="from" value="@Convert.ToDateTime("1/"+DateTime.Now.Month+"/"+DateTime.Now.Year).ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-md-3">
                    <label>Hasta</label>
                    <input type="date" class="form-control" name="to" value="@Convert.ToDateTime("1/1/"+ (DateTime.Now.Year + 1)).AddDays(-1).ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-lg-2">
                    <button type="submit" style="margin-top:30px" class="btn btn-primary">Buscar</button>
                </div>
            </div>

            <div class="col-lg-12" style="margin-top:15px">
                <!-- DataTableArea -->
                <div class="data-info">
                    <table id="table2" class="display datatable">
                        <thead>
                            <tr>
                                <th>Entrada ID</th>
                                <th>Producto</th>
                                <th>Proveedor</th>
                                <th>Cantidad</th>
                                <th>Fecha</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model._entradas)
                            {
                                <tr>
                                    <td>@item._entradaId</td>
                                    <td>@item._producto.Nombre</td>
                                    <td>@item._proveedor.Nombre</td>
                                    <td>@item._cantidad</td>
                                    <td>@item._fechaEntrada.ToString("dddd, dd MMMM yyyy")</td>
                                    <td>
                                        <a href="@Url.Action("Editar","Entradas", new { id = item._entradaId})" style="color:white" class="btn btn-info btn-sm waves-effect">Editar</a>
                                        <a href="@Url.Action("Borrar","Entradas", new { id = item._entradaId})" style="color:white" class="btn btn-danger btn-sm waves-effect">Borrar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- DataTableArea -->
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/Content/Template/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Template/bower_components/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/Template/bower_components/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/Template/bower_components/moment/min/moment.min.js"></script>

    <script>
        //Data Tables
        $('#table2').DataTable({
            "dom": '<"toolbar tool2"><"clear-filter">frtip',
            info: false,
            paging: true,
            responsive: true,
            "oLanguage": { "sSearch": "" }
        });
        $('.dataTables_filter input').attr("placeholder", "Buscar");
    </script>
}


